@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,300;1,500&display=swap');

.theme--light.v-application {
  background: #343434 !important;
}

.theme--light.v-navigation-drawer .v-divider {
  background-color: rgba(255, 255, 255, 0.281) !important;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.v-tab {
  justify-content: left !important;
}
